@model IEnumerable<NotiIpt.Models.Fotos>

@{
    ViewData["Title"] = "Index";
}

<h1 class ="text-center">Fotos existentes</h1>
<br/>
<p>
    <form asp-action="Create" method="get">
        <button type="submit" class="btn btn-primary">Adicionar Foto</button>
    </form>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
